*.js
!jest.config.js
*.d.ts
node_modules

# CDK asset staging directory
.cdk.staging
cdk.out

gg_lambdas/*.dist-info/*
gg_lambdas/*/*
cloud_lambdas/*/*
gg_lambdas/six.py
cloud_lambdas/six.py
gg_lambdas/phue.py
